<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenBD19651164"
        tools:targetApi="31">
        <activity
            android:name=".AgregarAutoActivity"
            android:exported="false" />
        <activity
            android:name=".AutosActivity"
            android:exported="false" />
        <activity
            android:name=".CirculacionMichVencidaActivity"
            android:exported="false" />
        <activity
            android:name=".DocPorVencerActivity"
            android:exported="false" />
        <activity
            android:name=".DocumentosPropietarioActivity"
            android:exported="false" />
        <activity
            android:name=".TodosDocVencidosActivity"
            android:exported="false" />
        <activity
            android:name=".UnDocVencidoActivity"
            android:exported="false" />
        <activity
            android:name=".PropietariosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>